# Set commands in Python

# 1.add()

In [1]:
set={"india","germany","USA","japan","Poland"}
set.add("singapore")
print(set)

{'india', 'japan', 'germany', 'Poland', 'USA', 'singapore'}

In [ ]:
2.clear()

In [2]:
set={"india","germany","USA","japan","Poland"}
set.clear()
print(set)

set()

# 3.copy()

In [3]:
set={"india","germany","USA","japan","Poland"}
x=set.copy()
print(x)

{'india', 'japan', 'germany', 'USA', 'Poland'}

# 4.difference()

In [8]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland"}
x=set1.difference(set2)
y=set2.difference(set1)
print(x)
print(y)

{'USA', 'india', 'japan'}
{'russia', 'bhutan', 'nepal'}

# 5.discard()

In [7]:
set={"india","germany","USA","japan","Poland"}
set.discard("USA")
print(set)

{'india', 'japan', 'germany', 'Poland'}

# 6.intersection()

In [10]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland"}
x=set1.intersection(set2)
print(x)

{'Poland', 'germany'}

# 7.isdisjoint()

In [13]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland"}
x=set1.isdisjoint(set2)
print(x)

False

# 8.issubset()

In [14]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland","india","USA","japan"}
x=set1.issubset(set2)
print(x)

True

# 9.issuperset()

In [15]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland","india","USA","japan"}
x=set1.issuperset(set2)
print(x)

False

# 10.pop()

In [17]:
set={"india","germany","USA","japan","Poland"}
set.pop()
print(set)

{'japan', 'germany', 'Poland', 'USA'}

# 11.remove()

In [19]:
set={"india","germany","USA","japan","Poland"}
set.remove("japan")
print(set)

{'india', 'germany', 'Poland', 'USA'}

# 12.union()

In [21]:
set1={"india","germany","USA","japan","Poland"}
set2={"nepal","germany","bhutan","russia","Poland"}
x=set1.union(set2)
print(x)

{'bhutan', 'india', 'japan', 'germany', 'Poland', 'nepal', 'russia', 'USA'}