# Statistics and Probability Exam Paper Solutions

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import scipy

 # 1. From the pack of 52 cards, three cards are drawn randomly without replacement then what is the probability that one card is a diamond, one card is a heart and one is spade?

In [2]:
probability_of_selecting_card = 1/52
prob_ofdiamond = 13/52
prob_ofheart = 13/51
prob_ofspade = 13/50
print("Probability of Diamond: ",prob_ofdiamond,"| Probability of Heart: ",prob_ofheart,"| Probability of Spade: ",prob_ofspade)

Probability of Diamond:  0.25 | Probability of Heart:  0.2549019607843137 | Probability of Spade:  0.26

# 2. The information gained by a survey done by a production company: 42 % of the respondents said that they like action movies, 54 % like comedy movies, 36 % like drama movies, and 12 % like horror movies. If a person is selected at random, find the probability that his or her,
a. Favorite movie type is either action or drama.
b. Favorite movie type is either comedy or horror.

In [3]:
prob_of_actio_drama = (42+36)/100
prob_of_comedy_horror = (54+12)/100
print("prob_of_actio_drama",prob_of_actio_drama,"prob_of_comedy_horror : ",prob_of_comedy_horror)

prob_of_actio_drama 0.78 prob_of_comedy_horror :  0.66

# 3. A bag A contains 3 red and 5 black balls and bag B contains 4 white and 7 black balls. A bag is selected randomly and a ball is drawn from it. A drawn ball is observed to be black. Find the probability that bag ‘B ’ was selected.

In [4]:
total_balls_in_A = 8
total_balls_in_B = 11
prob_bag_select = 1/2
prob_of_black_in_A = (1/2)*(5/8)
prob_of_black_in_B = (1/2)*(7/11)
prob_of_ball_drawn_black_in_B = (prob_of_black_in_B)/(prob_of_black_in_A+prob_of_black_in_B)
print("prob_of_ball_drawn_black_in_B : ",round(prob_of_ball_drawn_black_in_B,3))

prob_of_ball_drawn_black_in_B :  0.505

# 4. A MNC company receives 450 applications from applicants in one hour. Find the probability of: a. Receiving 10 applications in 1 minute. b. Receiving at least 17 applications in 2 minutes.

In [5]:
from scipy.stats import poisson

prob_in_min = 450/60
print(poisson.pmf(10,prob_in_min))# for a part
print(poisson.pmf(17,prob_in_min*2))#for b part

0.08583037040867346
0.08473555146882411

# 5. The government of state union has declared a free medical insurance for below poverty line population by using following assumptions: a. In every year, there can be at most one patient who needs medical insurance in a family. b. In every year, the probability of a medical emergency is 0.05. c. The number of patients in every year is independent. Using the assumptions, calculate the probability that there are fewer than 3 patients in a 10 years period in one family

In [6]:
prob_patien_Year = 0.05
prob_med_emr_10year = pow(0.05,10)
prob_fewer_3 = pow(0.05,9) + pow(0.05,9)
(prob_fewer_3)

3.906250000000002e-12

# 6. Suppose prices of new flats in Manchester are normally distributed with an average of $350870 and a standard deviation of $12405. Find the 75th percentile of prices among new homes in Manchester.

In [7]:
mn = 350870
sd = 12405
#for 75 percentile
price = 0.674*(sd) + mn
price

359230.97

# 7. The Department of Transportation of California claims that the average number of road accidents that are occurred in two cities - Union City and Mountain View - during the span of the last 12 months. Assuming that population variances are equal Compute the value of F-statistic by using the relation F = t2

In [8]:
union_city = [44,21,36,34,77,32,29,39,92,67,45,37]
mountain_view = [47,81,41,79,38,20,33,83,41,40,69,36]
df1 = len(union_city) - 1
df2 = len(mountain_view) - 1
F = np.var(union_city)/np.var(mountain_view)
p_value = scipy.stats.f.cdf(F,df1,df2)
print(F)
p_value

0.9921235138705413

0.49488606021150344

# 8. Annual project of university done by three groups of students with equal sample sizes. Each group was given a different task. After the final presentation students get the marks. The summary statistics are given below:Calculate F – statistics

In [9]:
mean_grp_1,std_dev = 44.5, 5
mean_grp_2,std_dev2 = 42, 5
mean_grp_3,std_dev3 = 46.5 , 8

length = 6
F1_2 = (std_dev*std_dev)/(std_dev2*std_dev2)
F2_3 = (std_dev2*std_dev2)/(std_dev2*std_dev2)
F3_1 = (std_dev3*std_dev3)/(std_dev*std_dev)
p_value_1_2 = scipy.stats.f.cdf(F1_2,6,6)
p_value_2_3 = scipy.stats.f.cdf(F2_3,6,6)
p_value_3_1 = scipy.stats.f.cdf(F3_1,6,6)
print("Grp 1 and 2 :",p_value_1_2,"|Critical:",F1_2)
print("print for grp 2 and 3 :",p_value_2_3," |Critical:",F2_3)
print("print for grp 3 and 1 :",p_value_3_1,"|Critical: ",F3_1)

Grp 1 and 2 : 0.5 |Critical: 1.0
print for grp 2 and 3 : 0.5  |Critical: 1.0
print for grp 3 and 1 : 0.861254051451987 |Critical:  2.56

# 9. The number of pizzas sold per day by a food zone "Pazzi per Pizza" follows a poisson distribution at a rate of 76 pizzas per day. What is the probability that the number of pizza sales exceeds 80 in a day? Write Python code to calculate the probability.

In [10]:
# calculate the probability
prob = (1 - stats.poisson.cdf(80, 76)) * 100
# rounding the value to 2 digits
prob = round(prob, 2)
print("The probability that the number of sales exceeds 80 in a day is {}%.".format(prob))

The probability that the number of sales exceeds 80 in a day is 29.8%.

# 10. n the population, the mean weight is 82. A team of dietitians wants to test a new protein supplier to see if it has either a positive or negative effect on diet, or no effect at all. A sample of 25 participants who have taken the protein supplier has a mean of 95 with standard deviation is 20. Did the protein supplier affect diet? Where a=0.05

In [11]:
pop_mean = 82

# Standard Deviation
pop_std = 20

# Sample mean
sample_mean = 95

# length of sample data
n = 25

# find the z-score
z_score = (sample_mean - pop_mean)/(pop_std/np.sqrt(n))

# find the p-value
p_value = stats.norm.cdf(z_score)

print('The z-score value is {} and the p-value is {}'.format(round(z_score, 4), round(p_value, 4)))

The z-score value is 3.25 and the p-value is 0.9994

# 11. The number of customers that arrive on different days in a week at the Hotel Taj is given below: Test the claim that the different days of the week have the same frequency of customers. Use the significance level as 0.1.

In [12]:
numofcust = pd.Series([1419,1320,1526,1289,1620,2067,2055])
mn = round(np.mean(numofcust))
stats.ttest_1samp(numofcust, mn)

Ttest_1sampResult(statistic=-0.002318983330735289, pvalue=0.9982249000179266)

# 12. The number of deaths in the 7 metro cities of the US during the last month due to Covid-19 is recorded by the government, and that time, experts predicted that upto next month death rate will be increased by 30%. So the number of deaths in current month is also recorded in 7 cities in US are given below: City = ["New York", "New Jersey", "Michigan", "California", "Florida", "Massachusetts", "Texas"] No_of_deaths_in_last_month = [3406, 1469, 662, 583, 582, 526, 461] No_of_deaths_in_current_month = [4398, 1846, 1288, 382, 879, 430, 321] df = pd.DataFrame({"City": City, "No_of_deaths_in_last_month":No_of_deaths_in_last_month, "No_of_deaths_in_current_month": No_of_deaths_in_current_month}) df Is the death distribution of the current month the same as the expert’s prediction? Use the level of significance is 0.1.

In [13]:
City = ["New York", "New Jersey", "Michigan", "California", "Florida", "Massachusetts", "Texas"]
No_of_deaths_in_last_month = [3406, 1469, 662, 583, 582, 526, 461]
No_of_deaths_in_current_month = [4398, 1846, 1288, 382, 879, 430, 321] 
df = pd.DataFrame({"City": City, "No_of_deaths_in_last_month":No_of_deaths_in_last_month, 
                   "No_of_deaths_in_current_month": No_of_deaths_in_current_month})
df

            City  No_of_deaths_in_last_month  No_of_deaths_in_current_month
0       New York                        3406                           4398
1     New Jersey                        1469                           1846
2       Michigan                         662                           1288
3     California                         583                            382
4        Florida                         582                            879
5  Massachusetts                         526                            430
6          Texas                         461                            321

In [14]:
from scipy.stats import ttest_rel
ttest_rel(No_of_deaths_in_last_month, No_of_deaths_in_current_month)

Ttest_relResult(statistic=-1.5783719001745091, pvalue=0.16555733365702116)